
.heading-container {
    max-height: 200px;
    padding-top: 0px;
    margin-top: 0px;

    background-color: #e9ecef;
    border-radius: .3rem;
}

.heading-container .subheading {
    padding-top:40px;
}
.heading-container .subheading .title {
    font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .heading-container .logo-container {
        text-align: center;
    }
    .heading-container .subheading {
        margin-top: -20px;
        padding-top: 4px;
        text-align: center;
        padding-bottom: 8px;
    }
    .heading-container .subheading .title {
        font-size: 1.5rem;
    }   
}